name: Reveal.js Markdown

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install reveal-md
      run: npm install -g reveal-md
    - name: Generate static site
      run: reveal-md slides.md --static
    - name: Stage missing assets
      run: cp lightning.jpg _static
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_static
